<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IF97Tool.Properties.Settings.If97VersionExpConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Libra\Gen3Client\Diagnostics\If97VersionExp.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>